FinalProject/force-app/main/default/flows/SetCheckBoxProject.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Condition</name>
        <label>Condition</label>
        <locationX>625</locationX>
        <locationY>484</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopGetRecords.AssignedHours__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>LoopGetRecords.QuantityHours__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopGetRecords</targetReference>
            </connector>
            <label>IsTrue</label>
        </rules>
    </decisions>
    <interviewLabel>SetCheckBoxProject {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SetCheckBoxProject</label>
    <loops>
        <name>LoopGetRecords</name>
        <label>LoopGetRecords</label>
        <locationX>439</locationX>
        <locationY>483</locationY>
        <collectionReference>ProjectLineItemsInfo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Condition</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateCheckBox</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetProjectLineItems</name>
        <label>GetProjectLineItems</label>
        <locationX>441</locationX>
        <locationY>344</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopGetRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>ProjectLineItem__c</object>
        <outputReference>ProjectLineItemsInfo</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AssignedHours__c</queriedFields>
        <queriedFields>QuantityHours__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCheckBox</name>
        <label>UpdateCheckBox</label>
        <locationX>442</locationX>
        <locationY>664</locationY>
        <inputAssignments>
            <field>CompleteAssigmentHours__c</field>
            <value>
                <elementReference>IsTrue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>310</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetProjectLineItems</targetReference>
        </connector>
        <object>Project__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ProjectLineItemsInfo</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProjectLineItem__c</objectType>
    </variables>
</Flow>
