FinalProject/force-app/main/default/flows/UpdateProjectStatus.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AmountOpp</name>
        <label>AmountOpp</label>
        <locationX>699</locationX>
        <locationY>474</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>AmountExceeded</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Opportunity__r.PM__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Amount Exceeded</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>EmailPM</name>
        <label>EmailPM</label>
        <locationX>774</locationX>
        <locationY>271</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailAssignedHoursFail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Opportunity__r.PM__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Roles with unassigned hours</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>otrotest</name>
        <label>otrotest</label>
        <locationX>598</locationX>
        <locationY>233</locationY>
        <defaultConnector>
            <targetReference>EmailPM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>istrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>prueba</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>test</targetReference>
            </connector>
            <label>istrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>StartDateProject</name>
        <label>StartDateProject</label>
        <locationX>452</locationX>
        <locationY>463</locationY>
        <defaultConnectorLabel>OtherDate</defaultConnectorLabel>
        <rules>
            <name>StartProject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StartProject__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DateToday</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AmountOpp__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.AmountEstimated__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SquadLead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStatus</targetReference>
            </connector>
            <label>StartProject</label>
        </rules>
        <rules>
            <name>AmountOppExeeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AmountOpp__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.AmountEstimated__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AmountOpp</targetReference>
            </connector>
            <label>AmountOppExeeded</label>
        </rules>
    </decisions>
    <formulas>
        <name>prueba</name>
        <dataType>Boolean</dataType>
        <expression>{!test.QuantityHours__c}&lt;{!test.AssignedHours__c}</expression>
    </formulas>
    <interviewLabel>UpdateProjectStatus {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateProjectStatus</label>
    <loops>
        <name>test</name>
        <label>test</label>
        <locationX>427</locationX>
        <locationY>233</locationY>
        <collectionReference>ProjectLineItemInfo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>otrotest</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>StartDateProject</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetRecords</name>
        <label>GetRecords</label>
        <locationX>546</locationX>
        <locationY>115</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>test</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>ProjectLineItem__c</object>
        <outputReference>ProjectLineItemInfo</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AssignedHours__c</queriedFields>
        <queriedFields>QuantityHours__c</queriedFields>
        <queriedFields>Role__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateComplete</name>
        <label>UpdateComplete</label>
        <locationX>432</locationX>
        <locationY>44</locationY>
        <connector>
            <targetReference>GetRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EndProject__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DateToday</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStatus</name>
        <label>UpdateStatus</label>
        <locationX>266</locationX>
        <locationY>522</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>31</locationX>
        <locationY>25</locationY>
        <connector>
            <targetReference>UpdateComplete</targetReference>
        </connector>
        <object>Project__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-05-24</startDate>
            <startTime>19:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AmountExceeded</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Project ID: {!$Record.Id}  has exceeded the amount agreed in the Opportunity ID: {!$Record.Opportunity__r.Id}</text>
    </textTemplates>
    <textTemplates>
        <name>EmailAssignedHoursFail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The hours of the role {!test.Role__c} have not been fully allocated</text>
    </textTemplates>
    <variables>
        <name>DateToday</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>ProjectLineItemInfo</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProjectLineItem__c</objectType>
    </variables>
</Flow>
