FinalProject/force-app/main/default/flows/UpdateRealAmount_WorkedHours.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>SumValues</name>
        <label>SumValues</label>
        <locationX>519</locationX>
        <locationY>652</locationY>
        <assignmentItems>
            <assignToReference>TotalAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskProjects.AmountToPay__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalHours</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskProjects.RegisterHours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TaskProjects</targetReference>
        </connector>
    </assignments>
    <interviewLabel>UpdateRealAmount&amp;WorkedHours {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateRealAmount&amp;WorkedHours</label>
    <loops>
        <name>TaskProjects</name>
        <label>TaskProjects</label>
        <locationX>516</locationX>
        <locationY>503</locationY>
        <collectionReference>TaskProject</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SumValues</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateProject</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetTaskProject</name>
        <label>GetTaskProject</label>
        <locationX>516</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TaskProjects</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ProjectResource__r.ProjectLineItem__r.Project__r.Id</elementReference>
            </value>
        </filters>
        <object>TaskProject__c</object>
        <outputReference>TaskProject</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AmountToPay__c</queriedFields>
        <queriedFields>RegisterHours__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateProject</name>
        <label>UpdateProject</label>
        <locationX>712</locationX>
        <locationY>517</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RealAmount__c</field>
            <value>
                <elementReference>TotalAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkedHours__c</field>
            <value>
                <elementReference>TotalHours</elementReference>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <start>
        <locationX>390</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetTaskProject</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>RegisterHours__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>TaskProject__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TaskProject</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TaskProject__c</objectType>
    </variables>
    <variables>
        <name>TotalAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalHours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
