FinalProject/force-app/main/default/flows/UpdateProjectStatusToComplete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>IsEndDate</name>
        <label>IsEndDate</label>
        <locationX>521</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EndDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EndProject__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DateToDay</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProjectTasksInfo</targetReference>
            </connector>
            <label>EndDate</label>
        </rules>
    </decisions>
    <decisions>
        <name>TaskIsCompleted</name>
        <label>TaskIsCompleted</label>
        <locationX>779</locationX>
        <locationY>447</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsCompleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopThroughTasks.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopThroughTasks</targetReference>
            </connector>
            <label>IsCompleted</label>
        </rules>
    </decisions>
    <interviewLabel>UpdateProjectStatusToComplete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateProjectStatusToComplete</label>
    <loops>
        <name>LoopThroughTasks</name>
        <label>LoopThroughTasks</label>
        <locationX>530</locationX>
        <locationY>448</locationY>
        <collectionReference>ProjectTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>TaskIsCompleted</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateProjectStatusToCompleted</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ProjectTasksInfo</name>
        <label>ProjectTasksInfo</label>
        <locationX>530</locationX>
        <locationY>293</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughTasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>TaskProject__c</object>
        <outputReference>ProjectTasks</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateProjectStatusToCompleted</name>
        <label>UpdateProjectStatusToCompleted</label>
        <locationX>337</locationX>
        <locationY>444</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>65</locationX>
        <locationY>66</locationY>
        <connector>
            <targetReference>IsEndDate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <object>Project__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-05-26</startDate>
            <startTime>20:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DateToDay</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>ProjectTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TaskProject__c</objectType>
    </variables>
</Flow>
